@use "sass:color";
@function multiply-px($value1, $value2) {
    @return $value1 * $value2 / 1px;
}

@mixin layout ($color, $size: 14px) {
    color: $color;
    background-color: lighten(invert($color), 20);
    font-size: $size;
    margin: $size;
    padding: $size;
    line-height: $size;
    border: 5px solid $color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$small: 576px;
$medium: 768px;
#container {
    @include layout(darkred, inherit);
}

@media screen and (max-width: $medium) {
    #container {
        @include layout(darkblue, 16px);
    }
}

@media screen and (max-width: $small) {
    #container {
        @include layout(darkgreen, 20px);
    }
}