@mixin layout ($color, $size: 14px) {
    color: $color;
    background-color: lighten(invert($color), 20);
    font-size: $size;
    margin: $size;
    padding: $size;
    line-height: $size;
    border: 5px solid $color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}